{% extends "paralympics/tabela.html" %}

{% block titulo %}
Ranking dos Países
{% endblock titulo %}

{% block pre %}
<h5 style="text-align: right">Soma das Medelhas Individuais e em Equipe</h5> 
{% endblock pre %}

{% block cabecalho %}
<th class="col-sm-1" style="text-align: right">Colocação</th>
<th class="col-sm-3">País</th>
<th class="col-sm-1">Ouro</th>
<th class="col-sm-1">Prata</th>
<th class="col-sm-1">Bronze</th>
{% endblock cabecalho %}

{% block dados %}
    {% for pais in paises %}
    <tr>
        <td style="text-align: right">{{ forloop.counter }}</td>
        <td><div class="flag {{ pais.sigla }}"></div> {{ pais.nome }}</td>
        <td>{{ pais.ouro }}</td>
        <td>{{ pais.prata }}</td>
        <td>{{ pais.bronze }}</td>
    </tr>
    {% endfor %}
{% endblock  %}
